/* --berkeley-blue: #06345Eff;
--robin-egg-blue: #00C9BAff;
--tiffany-blue: #73DDD0ff;
--platinum: #E6E6E6ff;
--bright-pink-crayola: #FF6584ff; */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #06345Eff;
    background-color: #FF6584ff;
    background-size: cover;
}
#main {
    background-color: white;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    width: 50vw;
    height: 70vh;
    min-width: 270px;
    max-width: 400px;
    box-shadow: 0px 3px 13px black;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

h2 {
    color: #FF6584ff;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #E6E6E6ff;
    font-weight: bold;
    height: 40px;
    width: 200px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px black;
}
#decrement-btn {
    font-family: "Fredoka", sans-serif;
    background: #00C9BAff;
}
#decrement-btn:hover {
    color: white;
    font-family: "Fredoka", sans-serif;
    background: rgb(0, 173, 162);
    border: 1px solid rgb(0, 173, 162);
}
#decrement-btn:active{
    color: #00C9BAff;
    font-family: "Fredoka", sans-serif;
    background: white;
    border: 1px solid #00C9BAff;
    box-shadow: 0px 0px 4px rgb(0, 104, 97) inset;
} 

#save-el {
    color: #FF6584ff;
    margin-bottom: 40px;
}

#increment-btn {
    font-family: "Fredoka", sans-serif;
    background: #FF6584ff;
}
#increment-btn:hover{
    color: white;
    font-family: "Fredoka", sans-serif;
    background: rgb(209, 83, 108);
    border: 1px solid rgb(209, 83, 108);
}
#increment-btn:active{
    color: #FF6584ff;
    font-family: "Fredoka", sans-serif;
    background: white;
    border: 1px solid #FF6584ff;
    box-shadow: 0px 0px 4px rgb(108, 37, 51) inset;
} 

#save-btn {
    font-family: "Fredoka", sans-serif;
    background: #06345Eff;
}

#save-btn:hover {
    color: white;
    font-family: "Fredoka", sans-serif;
    background: rgb(21, 81, 137);
    border: 1px solid #06345Eff;
}

#save-btn:active {
    color: #06345Eff;
    font-family: "Fredoka", sans-serif;
    background: white;
    border: 1px solid #06345Eff;
    box-shadow: 0px 0px 4px black inset;
}


